appdirs==1.4.3
contexter==0.1.4
Cython==0.25.2
freetype-py==1.0.2
mock==2.0.0
numpy==1.12.1
opencv-python==3.2.0.6
packaging==16.8
pbr==2.0.0
-e git+https://github.com/davidcarne/poly2tri.python.git#egg=poly2tri
-e git+https://github.com/davidcarne/pypotrace.git#egg=pypotrace
pycapnp==0.5.10
PyOpenGL==3.1.0
pyparsing==2.2.0
PySide==1.2.4
Rtree==0.8.3
scipy==0.19.0
Shapely==1.6b2
signalslot==0.1.1
six==1.10.0
weakrefmethod==1.0.3
