appdirs==1.4.3
contexter==0.1.4
Cython==0.25.2
freetype-py==1.0.2
mock==2.0.0
numpy==1.12.1
opencv-python==3.2.0.6
packaging==16.8
pbr==2.0.0
pcbre==0
poly2tri==0.3.3+dcpatch
pycapnp==0.5.10
PyOpenGL==3.1.0
pyparsing==2.2.0
pypotrace==0.1.2+dcpatch
PySide==1.2.4
Rtree==0.8.3
scipy==0.19.0
Shapely==1.5.17.post1
signalslot==0.1.1
six==1.10.0
weakrefmethod==1.0.3
